body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    background: url(midias/Eyes\ drawing\ —\ Digital\ Art\ —\ Yunxi_Yi\ in\ 2022\ _\ Cartoon\ eyes\ drawing\,\ Eye\ chart\ art\,\ Eye\ dr…\ _\ Tutoriais\ de\ desenho\,\ Tutoriais\ de\ desenho\ de\ olhos\,\ Desenho\ de\ rosto.jpeg);
}

.titulo {
    backdrop-filter: blur(15px);
}

p {
    backdrop-filter: blur(15px);
    border: 2px solid #000;
}

.video {
    width: 200px;
    height: 400px;
    padding: 20px;
    padding-top: 2px;
    border: 2px solid #000;
    backdrop-filter: blur(15px);
}